.hero {
  height: 90vh;
  background: linear-gradient(to right, #00aaff, #004aad);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.btn-primary {
  background: white;
  color: #004aad;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
