.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

.auth-box {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.auth-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #2575fc;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-box button:hover {
  background: #6a11cb;
}

.auth-box p {
  margin-top: 15px;
  font-size: 14px;
}
.auth-box a {
  color: #2575fc;
  text-decoration: none;
}
.auth-box a:hover {
  text-decoration: underline;
}
